@import "/src/assets/styles/colors.scss";

.amount-change-arrow {
    height: 15px;
    width: 15px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $profit-color;
    border-radius: 10px;

    svg {
        transform: rotate(45deg);
    }

    &.amount-change-arrow-lose {
        background-color: $lose-color;
        svg {
            color: white;
            transform: rotate(-45deg);
        }
    }
}
