.cash-flow-row {
    padding: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:first-child() {
        .cfr-details > .cfr-label-wrapper > .cfr-label-icon {
            background-color: #c2b4f9;
        }

        .cfr-progress > .cfr-progress-completed {
            background-color: #c2b4f9;
        }
    }

    &:nth-child(2) {
        .cfr-details > .cfr-label-wrapper > .cfr-label-icon {
            background-color: #9ce6fa;
        }

        .cfr-progress > .cfr-progress-completed {
            background-color: #9ce6fa;
        }
    }

    &:nth-child(3) {
        .cfr-details > .cfr-label-wrapper > .cfr-label-icon {
            background-color: #f6c0d9;
        }

        .cfr-progress > .cfr-progress-completed {
            background-color: #f6c0d9;
        }
    }

    .cfr-details {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cfr-label-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            .cfr-label-icon {
                position: relative;
                width: 25px;
                aspect-ratio: 1;
                border-radius: 50%;

                background-color: #c2b4f9;

                .cfr-triangle {
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 5px;
                    border-color: white transparent transparent transparent;
                    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
                    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
                }
            }

            .cfr-label {
                font-weight: bold;
            }
            .cfr-percentage {
                padding: 5px 10px;
                background-color: #f7f9fc;
                font-size: 12px;
                font-weight: 600;
            }
        }

        .cfr-amount {
            font-weight: bold;
            .cfr-decimal {
                color: #c0c5d3;
            }
        }
    }

    .cfr-progress {
        position: relative;
        width: 100%;
        height: 8px;

        background-repeat: repeat-x;
        background-size: 100% 100%;

        .cfr-progress-completed {
            position: absolute;
            height: 100%;

            background-color: #c2b4f9;
        }
    }
}
