@import "/src/assets/styles/colors.scss";

.nav-menu-btn {
    padding: 7.5px 15px;
    color: $text-secondary;

    &.active-btn, &:hover {
        background-color: $btn-primary;
        color: white;
    }
}