.money-in-animation {
    width: 45px;
    aspect-ratio: 1;
    background-color: #d9dce7;
    border-radius: 50%;
}


.money-tab {
    &:hover, &.active {
        .money-in-animation {
            background-color: #040512;
        }
    }
}